@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');
body {
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
}

body h2{
    margin-bottom: 0;
}

.list {
    padding: 20px;
    margin: 0;
}
.list li{
    margin-bottom: 10px;
}